                                <section>
                                        <h2>Like an Async Throw!</h2>
                                        <blockquote cite="https://gist.github.com/domenic/3889970">
                                                &ldquo;The thing is, promises are <em>not</em> about callback aggregation. That’s a simple utility. Promi$
                                        </blockquote>
                                        <p style="text-align: right">—<a href="https://gist.github.com/domenic/3889970">You’re Missing the Point of Promi$
                                </section>
